/*.categories-header {
  border-bottom: 1px solid #dee2e6;
}

.categories-header .nav-link {
  padding: 0.5rem 1rem;
  transition: color 0.15s ease-in-out;
}

.categories-header .nav-link:hover {
  color: #0d6efd !important;
}

main {
  min-height: calc(100vh - 200px);
  padding: 2rem 0;
} 
*/

.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid white;
  padding-bottom: 2px;
}